Repository Nick2bad4u/tf2, changes with the labels that .github/labeler.yml gives for each.
All labels: root, AnyChange, Actions, GitHub, Style, CSS, JavaScript, HTML, PNG, SVG, JPG, GIF, JSON, XML, Markdown, YAML, TypeScript, SCSS

Update extraDamageColorsInstructions.md
  garyshud_mods/extraDamageColors/extraDamageColorsInstructions.md
Labels: AnyChange, Markdown

Update extraHomeServerIconsInstructions.md
  garyshud_mods/extraHomeServerIcons/extraHomeServerIconsInstructions.md
Labels: AnyChange, Markdown

Update extraHomeServerIconsInstructions.md
  garyshud_mods/extraHomeServerIcons/extraHomeServerIconsInstructions.md
Labels: AnyChange, Markdown

Remove old Home Server Icons and update instructions for adding/modifying Home Server buttons in Gary's HUD
  cfg/sync.ffs_db
  tf2_mods/extraDamageColors/extraDamageColorsInstructions.md
  tf2_mods/extraDamageColors/extraDamgeColors.png
  tf2_mods/extraDamageColors/tools.res
  tf2_mods/extraHomeServerIcons/extraHomeServerIcons.png
  tf2_mods/extraHomeServerIcons/extraHomeServerIconsInstructions.md
  tf2_mods/extraHomeServerIcons/gamemenu.res
  tf2_mods/extraHomeServerIcons/mainmenuoverride.res
  tf2_mods/typpisAutoexec/autoexec.cfg
  tf2_mods/typpisAutoexec/autoexecInstructions.md
Labels: AnyChange, PNG, Markdown

Update documentation for Home Server button modifications
  file_list.html
Labels: root, AnyChange, HTML

Remove Boris Black Bloxx font files
  tf2_mods/tf2Fonts/Stock-Fonts/Boris_Black_Bloxx/BorisBlackBloxx.ttf
  tf2_mods/tf2Fonts/Stock-Fonts/Boris_Black_Bloxx/BorisBlackBloxxDirty.ttf
Labels: AnyChange

Update file list in README.md
  README.md
  file_list.md
Labels: root, AnyChange, Markdown

Update MOTD last request time, adjust store pricesheet version, and enhance file list generation script
  .vscode/generate_file_list.py
  cfg/config.cfg
  cfg/motd_entries.txt
  cfg/sync.ffs_db
  file_list.html
Labels: root, AnyChange, HTML

Update file list in README.md
  README.md
  file_list.md
Labels: root, AnyChange, Markdown

Update file list in README.md
  README.md
  file_list.md
Labels: root, AnyChange, Markdown

Enhance file list generation with lazy loading and improve color handling
  .vscode/generate_file_list.py
Labels: AnyChange

Update file list in README.md
  README.md
  file_list.md
Labels: root, AnyChange, Markdown

Add badges and visual elements to README.md for enhanced project visibility
  README.md
  file_list.html
Labels: root, AnyChange, HTML, Markdown

Update file list in README.md
  README.md
  file_list.md
Labels: root, AnyChange, Markdown

Update introduction text formatting in file list generation
  .vscode/generate_file_list.py
  file_list.html
Labels: root, AnyChange, HTML

Update file list in README.md
  README.md
  file_list.md
Labels: root, AnyChange, Markdown

Add favicon.ico to enhance site branding
  favicon.ico
Labels: root, AnyChange

Update README.md to improve clarity and organization
  .vscode/generate_file_list.py
  file_list.html
Labels: root, AnyChange, HTML

Add jekyll-loading-lazy plugin for improved loading performance
  .vscode/generate_file_list.py
  _config.yml
  file_list.html
Labels: root, AnyChange, HTML

Update file list in README.md
  README.md
  file_list.md
Labels: root, AnyChange, Markdown

Update ossar.yml
  .github/workflows/ossar.yml
Labels: AnyChange, GitHub

Refactor logging and argument parsing for improved readability and maintainability
  .vscode/generate_file_list.py
  file_list.html
Labels: root, AnyChange, HTML

Update file list in README.md
  README.md
  file_list.md
Labels: root, AnyChange, Markdown

Update file list in README.md
  README.md
  file_list.md
Labels: root, AnyChange, Markdown

Enhance file list generation script with new parameters for directory and color exclusions
  .vscode/generate_file_list.py
  cfg/config.cfg
  cfg/motd_entries.txt
  cfg/sync.ffs_db
Labels: AnyChange

No code changes detected
  .vscode/generate_file_list.py
Labels: AnyChange

Update file list in README.md
  README.md
  file_list.md
Labels: root, AnyChange, Markdown

Update sync.ffs_db with new binary data
  .vscode/generate_file_list.py
  cfg/sync.ffs_db
Labels: AnyChange

[create-pull-request] automated change
  sitemap.xml
Labels: root, AnyChange, XML

Remove sync.ffs_db binary file
  cfg/sync.ffs_db
Labels: AnyChange

update gitignore and vscode/generate_file_list.py
  .gitignore
  .vscode/generate_file_list.py
Labels: root, AnyChange

Adjust UI element dimensions and remove unused Halloween images in resource files
  tf2_mods/extraDamageColors/tools.res
  tf2_mods/extraHomeServerIcons/mainmenuoverride.res
Labels: AnyChange

Enhance GitHub Action to generate and update README.md file list automatically
  .github/workflows/generate-file-list.yml
Labels: AnyChange, GitHub

Add step to download requirements.txt in GitHub Action workflow
  .github/workflows/generate-file-list.yml
Labels: AnyChange, GitHub

Remove scheduled trigger from GitHub Action and update file pattern to include file_list.html
  .github/workflows/generate-file-list.yml
Labels: AnyChange, GitHub

Update file list in README.md automatically with GitHub Action
  file_list.html
Labels: root, AnyChange, HTML

Update GitHub Action to conditionally use file_list.md or file_list.html based on modification time
  .github/workflows/generate-file-list.yml
Labels: AnyChange, GitHub

sda
  file_list.html
Labels: root, AnyChange, HTML

Update file list in README.md automatically with GitHub Action
  README.md
  file_list.html
Labels: root, AnyChange, HTML, Markdown

Update pin_to_sibling reference in mainmenuoverride.res for HomeServerButton
  tf2_mods/extraHomeServerIcons/mainmenuoverride.res
Labels: AnyChange

.github/labeler.yml:

# This YAML configuration file is used for labeling pull requests based on the changes made to files in the repository.
#
# Labels:
# - 'root': Applied to any changes made to root files.
# - 'AnyChange': Applied to any changes made within the entire repository.
# - 'Actions': Applied to any changes made within the '.workflows' folder or its subfolders.
# - 'GitHub': Applied to any changes made within the '.github' folder.
# - 'Style': Applied to any changes made within the '.github/styles' folder.
# - 'CSS': Applied to any changes made to files with the '.css' extension.
# - 'JavaScript': Applied to any changes made to files with the '.js' extension.
# - 'HTML': Applied to any changes made to files with the '.html' extension.
# - 'PNG': Applied to any changes made to files with the '.png' extension.
# - 'SVG': Applied to any changes made to files with the '.svg' extension.
# - 'JPG': Applied to any changes made to files with the '.jpg' extension.
# - 'GIF': Applied to any changes made to files with the '.gif' extension.
# - 'JSON': Applied to any changes made to files with the '.json' extension.
# - 'XML': Applied to any changes made to files with the '.xml' extension.
# - 'Markdown': Applied to any changes made to files with the '.md' extension.
# - 'YAML': Applied to any changes made to files with the '.yaml' extension.
# - 'TypeScript': Applied to any changes made to files with the '.ts' extension.
# - 'SCSS': Applied to any changes made to files with the '.scss' extension.
# - 'feature': Applied to any PR where the head branch name starts with `feature` or has a `feature` section in the name.
# - 'release': Applied to any PR that is opened against the `main` branch.
# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk

root:
  - changed-files:
      - any-glob-to-any-file: "*"

# Add 'AnyChange' label to any changes within the entire repository
AnyChange:
  - changed-files:
      - any-glob-to-any-file: "**"

# Add 'Actions' label to any changes within '.workflows' folder or any subfolders
Actions:
  - changed-files:
      - any-glob-to-any-file: .github/.workflows/**

GitHub:
  - changed-files:
      - any-glob-to-any-file: .github/**

Style:
  - changed-files:
      - any-glob-to-any-file: .github/styles/**

CSS:
  - changed-files:
      - any-glob-to-any-file: "**/*.css"

JavaScript:
  - changed-files:
      - any-glob-to-any-file: "**/*.js"

HTML:
  - changed-files:
      - any-glob-to-any-file: "**/*.html"

PNG:
  - changed-files:
      - any-glob-to-any-file: "**/*.png"

SVG:
  - changed-files:
      - any-glob-to-any-file: "**/*.svg"

JPG:
  - changed-files:
      - any-glob-to-any-file: "**/*.jpg"

GIF:
  - changed-files:
      - any-glob-to-any-file: "**/*.gif"

JSON:
  - changed-files:
      - any-glob-to-any-file: "**/*.json"

XML:
  - changed-files:
      - any-glob-to-any-file: "**/*.xml"

Markdown:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

YAML:
  - changed-files:
      - any-glob-to-any-file: "**/*.yaml"

TypeScript:
  - changed-files:
      - any-glob-to-any-file: "**/*.ts"

SCSS:
  - changed-files:
      - any-glob-to-any-file: "**/*.scss"

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ["^feature", "feature"]

# Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: "main"
