Repository Nick2bad4u/tf2, changes with the labels that .github/labeler.yml gives for each.
All labels: root, AnyChange, Actions, GitHub, Style, CSS, JavaScript, HTML, PNG, SVG, JPG, GIF, JSON, XML, Markdown, YAML, TypeScript, SCSS

chore: Add configuration files for various tools
  .eslintrc.js
  .jsbeautifyrc
  .markdownlint.yml
  .prettierrc
  .scss-lint.yml
  .stylelintrc.json
  .vale.ini
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  _config.yml
Labels: root, AnyChange, JavaScript, JSON, Markdown

[create-pull-request] automated change
  sitemap.xml
Labels: root, AnyChange, XML

Create codeql.yml
  .github/workflows/codeql.yml
Labels: AnyChange, GitHub

[StepSecurity] Apply security best practices
  .github/workflows/codeql.yml
  .pre-commit-config.yaml
Labels: root, AnyChange, GitHub, YAML

Update dependency-review.yml
  .github/workflows/dependency-review.yml
Labels: AnyChange, GitHub

Delete custom/sync.ffs_db
  custom/sync.ffs_db
Labels: AnyChange

Delete logos/sync.ffs_db
  logos/sync.ffs_db
Labels: AnyChange

Delete cfg/sync.ffs_db
  cfg/sync.ffs_db
Labels: AnyChange

Add .gitignore entry for FreeFileSync database files
  .gitignore
  cfg/sync.ffs_db
  custom/sync.ffs_db
Labels: root, AnyChange

Update sync.ffs_db files in cfg and custom directories
  cfg/sync.ffs_db
  custom/sync.ffs_db
Labels: AnyChange

Delete custom/sync.ffs_db
  custom/sync.ffs_db
Labels: AnyChange

Add cfg/sync.ffs_db to .gitignore to prevent tracking of FreeFileSync database files
  .gitignore
  cfg/sync.ffs_db
Labels: root, AnyChange

Update cfg/sync.ffs_db with new configuration data
  cfg/sync.ffs_db
Labels: AnyChange

Enhance .gitignore to include backup and database file patterns
  .gitignore
Labels: root, AnyChange

Improve formatting in bug report template for better readability
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: AnyChange, GitHub, Markdown

Add YAML linting configuration and enhance pre-commit hooks
  .pre-commit-config.yaml
  .yamllint
Labels: root, AnyChange, YAML

Update cfg/sync.ffs_db with new binary data
  cfg/sync.ffs_db
Labels: AnyChange

Update cfg/sync.ffs_db with new binary data
  cfg/sync.ffs_db
Labels: AnyChange

Update pre-commit hooks and dependencies for improved linting and security
  .pre-commit-config.yaml
Labels: root, AnyChange, YAML

Refactor GitHub Actions workflow and update configuration files for improved functionality and consistency
  .github/workflows/sitemap.yml
  .pre-commit-config.yaml
  cfg/config.cfg
  cfg/motd_entries.txt
  cfg/sync.ffs_db
Labels: root, AnyChange, GitHub, YAML

Update site configuration for TF2 content and adjust metadata
  _config.yml
Labels: root, AnyChange

Update README.md
  README.md
Labels: root, AnyChange, Markdown

Add script to generate a file list with links for the repository
  file_list.txt
  generate_file_list.py
Labels: root, AnyChange

Enhance file list generator with customizable color options and improved logging
  file_list.html
  file_list.txt
  generate_file_list.py
Labels: root, AnyChange, HTML

Fix file extension name from .vmg to .vmt in file list and README
  README.md
  file_list.html
  generate_file_list.py
Labels: root, AnyChange, HTML, Markdown

Update GitHub repository URL in file list generator script
  README.md
  file_list.html
  generate_file_list.py
Labels: root, AnyChange, HTML, Markdown

[create-pull-request] automated change
  sitemap.xml
Labels: root, AnyChange, XML

Update skybox to Halloween theme and modify last request time in MOTD entries
  cfg/config.cfg
  cfg/motd_entries.txt
  cfg/sync.ffs_db
Labels: AnyChange

Refactor file list generation for improved readability and maintainability
  generate_file_list.py
Labels: root, AnyChange

Update file categories in generate_file_list.py
  file_list.html
  generate_file_list.py
Labels: root, AnyChange, HTML

Remove generate_file_list.py script
  generate_file_list.py
Labels: root, AnyChange

Add generate_file_list.py script to generate HTML file list with links
  .gitignore
  .vscode/generate_file_list.py
Labels: root, AnyChange

Update file list in README.md
  file_list.md
Labels: root, AnyChange, Markdown

Update server configuration and add new home server buttons in the main menu
  cfg/config.cfg
  cfg/motd_entries.txt
  cfg/sync.ffs_db
  custom/rayshud/resource/gamemenu.res
  custom/rayshud/resource/ui/mainmenuoverride.res
Labels: AnyChange

Update .gitignore to correctly ignore FreeFileSync database files
  .gitignore
  cfg/sync.ffs_db
Labels: root, AnyChange

Update Home Server buttons and configuration files
  cfg/config.cfg
  cfg/motd_entries.txt
  cfg/sync.ffs_db
  garyshud_mods/extraDamageColors/extraDamgeColors.png
  garyshud_mods/extraDamageColors/tools.res
  garyshud_mods/extraHomeServerIcons/extraDamageColorsInstructions.md
  garyshud_mods/extraHomeServerIcons/extraHomeServerIcons.png
  garyshud_mods/extraHomeServerIcons/extraHomeServerIconsInstructions.md
  garyshud_mods/extraHomeServerIcons/gamemenu.res
  garyshud_mods/extraHomeServerIcons/mainmenuoverride.res
Labels: AnyChange, PNG, Markdown

Update file list in README.md
  README.md
  file_list.md
Labels: root, AnyChange, Markdown

Remove outdated damage color instructions and add comprehensive guide for custom HUD colors
  garyshud_mods/extraDamageColors/extraDamageColorsInstructions.md
Labels: AnyChange, Markdown

Update extraDamageColorsInstructions.md
  garyshud_mods/extraDamageColors/extraDamageColorsInstructions.md
Labels: AnyChange, Markdown

Update extraDamageColorsInstructions.md
  garyshud_mods/extraDamageColors/extraDamageColorsInstructions.md
Labels: AnyChange, Markdown

.github/labeler.yml:

# This YAML configuration file is used for labeling pull requests based on the changes made to files in the repository.
#
# Labels:
# - 'root': Applied to any changes made to root files.
# - 'AnyChange': Applied to any changes made within the entire repository.
# - 'Actions': Applied to any changes made within the '.workflows' folder or its subfolders.
# - 'GitHub': Applied to any changes made within the '.github' folder.
# - 'Style': Applied to any changes made within the '.github/styles' folder.
# - 'CSS': Applied to any changes made to files with the '.css' extension.
# - 'JavaScript': Applied to any changes made to files with the '.js' extension.
# - 'HTML': Applied to any changes made to files with the '.html' extension.
# - 'PNG': Applied to any changes made to files with the '.png' extension.
# - 'SVG': Applied to any changes made to files with the '.svg' extension.
# - 'JPG': Applied to any changes made to files with the '.jpg' extension.
# - 'GIF': Applied to any changes made to files with the '.gif' extension.
# - 'JSON': Applied to any changes made to files with the '.json' extension.
# - 'XML': Applied to any changes made to files with the '.xml' extension.
# - 'Markdown': Applied to any changes made to files with the '.md' extension.
# - 'YAML': Applied to any changes made to files with the '.yaml' extension.
# - 'TypeScript': Applied to any changes made to files with the '.ts' extension.
# - 'SCSS': Applied to any changes made to files with the '.scss' extension.
# - 'feature': Applied to any PR where the head branch name starts with `feature` or has a `feature` section in the name.
# - 'release': Applied to any PR that is opened against the `main` branch.
# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk

root:
  - changed-files:
      - any-glob-to-any-file: "*"

# Add 'AnyChange' label to any changes within the entire repository
AnyChange:
  - changed-files:
      - any-glob-to-any-file: "**"

# Add 'Actions' label to any changes within '.workflows' folder or any subfolders
Actions:
  - changed-files:
      - any-glob-to-any-file: .github/.workflows/**

GitHub:
  - changed-files:
      - any-glob-to-any-file: .github/**

Style:
  - changed-files:
      - any-glob-to-any-file: .github/styles/**

CSS:
  - changed-files:
      - any-glob-to-any-file: "**/*.css"

JavaScript:
  - changed-files:
      - any-glob-to-any-file: "**/*.js"

HTML:
  - changed-files:
      - any-glob-to-any-file: "**/*.html"

PNG:
  - changed-files:
      - any-glob-to-any-file: "**/*.png"

SVG:
  - changed-files:
      - any-glob-to-any-file: "**/*.svg"

JPG:
  - changed-files:
      - any-glob-to-any-file: "**/*.jpg"

GIF:
  - changed-files:
      - any-glob-to-any-file: "**/*.gif"

JSON:
  - changed-files:
      - any-glob-to-any-file: "**/*.json"

XML:
  - changed-files:
      - any-glob-to-any-file: "**/*.xml"

Markdown:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

YAML:
  - changed-files:
      - any-glob-to-any-file: "**/*.yaml"

TypeScript:
  - changed-files:
      - any-glob-to-any-file: "**/*.ts"

SCSS:
  - changed-files:
      - any-glob-to-any-file: "**/*.scss"

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ["^feature", "feature"]

# Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: "main"
