Repository Nick2bad4u/tf2, changes with the labels that .github/labeler.yml gives for each.
All labels: root, AnyChange, Actions, GitHub, Style, CSS, JavaScript, HTML, PNG, SVG, JPG, GIF, JSON, XML, Markdown, YAML, TypeScript, SCSS

.github/labeler.yml:

# This YAML configuration file is used for labeling pull requests based on the changes made to files in the repository.
#
# Labels:
# - 'root': Applied to any changes made to root files.
# - 'AnyChange': Applied to any changes made within the entire repository.
# - 'Actions': Applied to any changes made within the '.workflows' folder or its subfolders.
# - 'GitHub': Applied to any changes made within the '.github' folder.
# - 'Style': Applied to any changes made within the '.github/styles' folder.
# - 'CSS': Applied to any changes made to files with the '.css' extension.
# - 'JavaScript': Applied to any changes made to files with the '.js' extension.
# - 'HTML': Applied to any changes made to files with the '.html' extension.
# - 'PNG': Applied to any changes made to files with the '.png' extension.
# - 'SVG': Applied to any changes made to files with the '.svg' extension.
# - 'JPG': Applied to any changes made to files with the '.jpg' extension.
# - 'GIF': Applied to any changes made to files with the '.gif' extension.
# - 'JSON': Applied to any changes made to files with the '.json' extension.
# - 'XML': Applied to any changes made to files with the '.xml' extension.
# - 'Markdown': Applied to any changes made to files with the '.md' extension.
# - 'YAML': Applied to any changes made to files with the '.yaml' extension.
# - 'TypeScript': Applied to any changes made to files with the '.ts' extension.
# - 'SCSS': Applied to any changes made to files with the '.scss' extension.
# - 'feature': Applied to any PR where the head branch name starts with `feature` or has a `feature` section in the name.
# - 'release': Applied to any PR that is opened against the `main` branch.
# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk

root:
  - changed-files:
      - any-glob-to-any-file: "*"

# Add 'AnyChange' label to any changes within the entire repository
AnyChange:
  - changed-files:
      - any-glob-to-any-file: "**"

# Add 'Actions' label to any changes within '.workflows' folder or any subfolders
Actions:
  - changed-files:
      - any-glob-to-any-file: .github/.workflows/**

GitHub:
  - changed-files:
      - any-glob-to-any-file: .github/**

Style:
  - changed-files:
      - any-glob-to-any-file: .github/styles/**

CSS:
  - changed-files:
      - any-glob-to-any-file: "**/*.css"

JavaScript:
  - changed-files:
      - any-glob-to-any-file: "**/*.js"

HTML:
  - changed-files:
      - any-glob-to-any-file: "**/*.html"

PNG:
  - changed-files:
      - any-glob-to-any-file: "**/*.png"

SVG:
  - changed-files:
      - any-glob-to-any-file: "**/*.svg"

JPG:
  - changed-files:
      - any-glob-to-any-file: "**/*.jpg"

GIF:
  - changed-files:
      - any-glob-to-any-file: "**/*.gif"

JSON:
  - changed-files:
      - any-glob-to-any-file: "**/*.json"

XML:
  - changed-files:
      - any-glob-to-any-file: "**/*.xml"

Markdown:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

YAML:
  - changed-files:
      - any-glob-to-any-file: "**/*.yaml"

TypeScript:
  - changed-files:
      - any-glob-to-any-file: "**/*.ts"

SCSS:
  - changed-files:
      - any-glob-to-any-file: "**/*.scss"

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ["^feature", "feature"]

# Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: "main"

Update file list in README.md automatically with GitHub Action
  README.md
  file_list.html
Labels: root, AnyChange, HTML, Markdown

Add unmodded_gamemenu.res for custom game menu buttons
  tf2_mods/extraDamageColors/unmodded_tools.res
  tf2_mods/extraHomeServerIcons/unmodded_gamemenu.res
  tf2_mods/extraHomeServerIcons/unmodded_mainmenuoverride.res
Labels: AnyChange

Update file list in README.md automatically with GitHub Action
  README.md
  file_list.html
Labels: root, AnyChange, HTML, Markdown

Update instructions for adding and modifying Home Server buttons in Gary's HUD
  tf2_mods/extraHomeServerIcons/extraHomeServerIconsInstructions.md
Labels: AnyChange, Markdown

Update file list in README.md automatically with GitHub Action
  README.md
  file_list.html
Labels: root, AnyChange, HTML, Markdown

Fix numbering in extraDamageColorsInstructions.md for clarity
  tf2_mods/extraDamageColors/extraDamageColorsInstructions.md
Labels: AnyChange, Markdown

Update file list in README.md automatically with GitHub Action
  README.md
  file_list.html
Labels: root, AnyChange, HTML, Markdown

Update file list in README.md automatically with GitHub Action
  README.md
  file_list.html
Labels: root, AnyChange, HTML, Markdown

Update file list in README.md automatically with GitHub Action
  README.md
  file_list.html
Labels: root, AnyChange, HTML, Markdown

Refine GitHub Action to update only README.md file list and adjust configuration settings
  .github/workflows/generate-file-list.yml
  cfg/config.cfg
  cfg/motd_entries.txt
  cfg/user.scr
Labels: AnyChange, GitHub

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

Update README.md
  README.md
Labels: root, AnyChange, Markdown

Update README.md
  README.md
Labels: root, AnyChange, Markdown

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

Update MOTD last request time and add launch options for Typpis and Demoman
  cfg/motd_entries.txt
  tf2_mods/TyppisLaunchOptions/LaunchOptions-Default.txt
  tf2_mods/TyppisLaunchOptions/LaunchOptions-Demoman.txt
Labels: AnyChange

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

[create-pull-request] automated change
  sitemap.xml
Labels: root, AnyChange, XML

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

Update combat text colors and sky name in config, reset last request time in MOTD entries
  cfg/config.cfg
  cfg/motd_entries.txt
Labels: AnyChange

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

Enhance autoexec.cfg with detailed comments and usage instructions for better clarity
  autoexec.cfg
  cfg/autoexec.cfg
  cfg/config.cfg
  cfg/motd_entries.txt
  custom/rayshud/resource/ui/mainmenuoverride.res
  tf2_mods/typpisAutoexec/autoexec.cfg
Labels: root, AnyChange

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

Update generate-file-list.yml
  .github/workflows/generate-file-list.yml
Labels: AnyChange, GitHub

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

[create-pull-request] automated change
  sitemap.xml
Labels: root, AnyChange, XML

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

[create-pull-request] automated change
  sitemap.xml
Labels: root, AnyChange, XML

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

[create-pull-request] automated change
  sitemap.xml
Labels: root, AnyChange, XML

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown

Update file list in README.md automatically with GitHub Action
  README.md
Labels: root, AnyChange, Markdown
