Repository Nick2bad4u/tf2, changes with the labels that .github/labeler.yml gives for each.
All labels: root, AnyChange, Actions, GitHub, Style, CSS, JavaScript, HTML, PNG, SVG, JPG, GIF, JSON, XML, Markdown, YAML, TypeScript, SCSS

Add concurrency groups and update actions in workflows
  .github/workflows/ActionLint.yml
  .github/workflows/devskim.yml
  .github/workflows/greetings.yml
  .github/workflows/pssecret-scanner.yml
  .github/workflows/rebase.yml
  .github/workflows/repo-stats.yml
  .github/workflows/security-devops.yml
  .github/workflows/sitemap.yml
  .github/workflows/stale.yml
  .github/workflows/static.yml
  .github/workflows/summary.yml
  .github/workflows/trufflehog.yml
  cfg/config.cfg
  cfg/motd_entries.txt
Labels: AnyChange, GitHub

up
  .github/workflows/gitleaks.yml
Labels: AnyChange, GitHub

Add concurrency control to multiple workflow files
  .github/workflows/Bandit.yml
  .github/workflows/black-formatter.yml
  .github/workflows/codeql.yml
  .github/workflows/defender.yml
  .github/workflows/dependency-review.yml
  .github/workflows/generate-file-list.yml
  .github/workflows/label.yml
  .github/workflows/ossar.yml
  .github/workflows/osv-scanner.yml
  .github/workflows/scorecards.yml
  .github/workflows/semgrep.yml
  .github/workflows/sobelow.yml
Labels: AnyChange, GitHub

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/gitleaks.yml
  .github/workflows/pssecret-scanner.yml
  .github/workflows/rebase.yml
  .github/workflows/security-devops.yml
Labels: AnyChange, GitHub

[create-pull-request] automated change
  sitemap.xml
Labels: root, AnyChange, XML

Remove scheduled trigger from sitemap generation workflow
  .github/workflows/sitemap.yml
Labels: AnyChange, GitHub

Update README.md
  README.md
Labels: root, AnyChange, Markdown

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/devskim.yml
  .github/workflows/rebase.yml
  .github/workflows/summary.yml
  .github/workflows/trufflehog.yml
Labels: AnyChange, GitHub

Add Dependabot auto-merge workflow
  .github/workflows/auto-merge-dependabot-caller.yml
  .github/workflows/codeql.yml
  .github/workflows/defender.yml
  .github/workflows/devskim.yml
  .github/workflows/ossar.yml
  .github/workflows/scorecards.yml
  .github/workflows/security-devops.yml
Labels: AnyChange, GitHub

Update Dependabot auto-merge workflow pin
  .github/workflows/auto-merge-dependabot-caller.yml
Labels: AnyChange, GitHub

👷 [ci] Use shared workflow callers
  .github/workflows/auto-merge-dependabot-caller.yml
  .github/workflows/dependency-review-enhanced-caller.yml
  .github/workflows/dependency-review.yml
  .github/workflows/gitleaks-scan-enhanced-caller.yml
  .github/workflows/gitleaks.yml
  .github/workflows/label.yml
  .github/workflows/labeler-caller.yml
  .github/workflows/ossf-scorecard-caller.yml
  .github/workflows/scorecards.yml
  .github/workflows/stale-management-caller.yml
  .github/workflows/stale.yml
  .github/workflows/trufflehog-scan-caller.yml
  .github/workflows/trufflehog.yml
Labels: AnyChange, GitHub

💚 [fix] Format FontForge glyph script
  tf2_mods/tf2Fonts/TF2-HUD-Icons-Font/custom build/scripts/centerglyph.py
Labels: AnyChange

💚 [fix] Exclude legacy scripts from Black workflow
  .github/workflows/black-formatter.yml
Labels: AnyChange, GitHub

.github/labeler.yml:

# This YAML configuration file is used for labeling pull requests based on the changes made to files in the repository.
#
# Labels:
# - 'root': Applied to any changes made to root files.
# - 'AnyChange': Applied to any changes made within the entire repository.
# - 'Actions': Applied to any changes made within the '.workflows' folder or its subfolders.
# - 'GitHub': Applied to any changes made within the '.github' folder.
# - 'Style': Applied to any changes made within the '.github/styles' folder.
# - 'CSS': Applied to any changes made to files with the '.css' extension.
# - 'JavaScript': Applied to any changes made to files with the '.js' extension.
# - 'HTML': Applied to any changes made to files with the '.html' extension.
# - 'PNG': Applied to any changes made to files with the '.png' extension.
# - 'SVG': Applied to any changes made to files with the '.svg' extension.
# - 'JPG': Applied to any changes made to files with the '.jpg' extension.
# - 'GIF': Applied to any changes made to files with the '.gif' extension.
# - 'JSON': Applied to any changes made to files with the '.json' extension.
# - 'XML': Applied to any changes made to files with the '.xml' extension.
# - 'Markdown': Applied to any changes made to files with the '.md' extension.
# - 'YAML': Applied to any changes made to files with the '.yaml' extension.
# - 'TypeScript': Applied to any changes made to files with the '.ts' extension.
# - 'SCSS': Applied to any changes made to files with the '.scss' extension.
# - 'feature': Applied to any PR where the head branch name starts with `feature` or has a `feature` section in the name.
# - 'release': Applied to any PR that is opened against the `main` branch.
# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk

root:
  - changed-files:
      - any-glob-to-any-file: "*"

# Add 'AnyChange' label to any changes within the entire repository
AnyChange:
  - changed-files:
      - any-glob-to-any-file: "**"

# Add 'Actions' label to any changes within '.workflows' folder or any subfolders
Actions:
  - changed-files:
      - any-glob-to-any-file: .github/.workflows/**

GitHub:
  - changed-files:
      - any-glob-to-any-file: .github/**

Style:
  - changed-files:
      - any-glob-to-any-file: .github/styles/**

CSS:
  - changed-files:
      - any-glob-to-any-file: "**/*.css"

JavaScript:
  - changed-files:
      - any-glob-to-any-file: "**/*.js"

HTML:
  - changed-files:
      - any-glob-to-any-file: "**/*.html"

PNG:
  - changed-files:
      - any-glob-to-any-file: "**/*.png"

SVG:
  - changed-files:
      - any-glob-to-any-file: "**/*.svg"

JPG:
  - changed-files:
      - any-glob-to-any-file: "**/*.jpg"

GIF:
  - changed-files:
      - any-glob-to-any-file: "**/*.gif"

JSON:
  - changed-files:
      - any-glob-to-any-file: "**/*.json"

XML:
  - changed-files:
      - any-glob-to-any-file: "**/*.xml"

Markdown:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

YAML:
  - changed-files:
      - any-glob-to-any-file: "**/*.yaml"

TypeScript:
  - changed-files:
      - any-glob-to-any-file: "**/*.ts"

SCSS:
  - changed-files:
      - any-glob-to-any-file: "**/*.scss"

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ["^feature", "feature"]

# Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: "main"
